<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>登录 </title>
</head>
<body>
<div th:if="${param.error}">
    用户名或密码错
</div>
<div th:if="${param.logout}">
    您已注销成功
</div>
<form th:action="@{/login}" method="post">
<table>
<tr>
<td>用户名：<input type="text" name="username"/></td>
</tr>
<tr>
<td>密码：&nbsp;<input type="password" name="password"/></td>
</tr>
<tr>
<td style="text-align: right;"><input type="submit" value="登录"/></td>
</tr>
</table>
</form>
</body>
</html>